<div style="margin-top: -105px; background-color: transparent;">
    <div class="row justify-content-md-center text-center ">
        <div class="col col-md-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <h3>
                Back-End
                <i class="bi bi-filetype-cs"></i>
            </h3>
            <p>
                Experiencia académica en el desarrollo y pruebas, entendiendo la lógica del negocio.
            </p>
            <h5 class="cabecera">
                Stack:
            </h5>
            <p>
                ASP.NET Core, SQL Server, NodeJS, PostgreSQL.
            </p>
            <p class="cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>LINQ</li>
                <li>Express</li>
                <li>Sequelize</li>
            </ul>
        </div>
        <div class="col col-md-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">

            <h3>
                Front-End
                <i class="bi bi-filetype-jsx"></i>
            </h3>
            <p>
                Apto para realizar front-ends robustos los cuales cumplan con los requerimientos del negocio.
            </p>
            <h5 class="cabecera">
                Stack:
            </h5>
            <p>
                React, Blazor.
            </p>
            <p class="cabecera">
                Experiencia:
            </p>
            <ul>
                <li>React hooks</li>
                <li>React Redux</li>
                <li>Blazor WASM</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Bootstrap</li>
            </ul>
        </div>
    </div>
</div>