
<section class="text-center">
    <h1 class="display-4">Soy Samuel Tribulo</h1>
    <h2>Un desarrollador full stack especializado en tecnologías .NET y React</h2>
    <img src="~/imagenes/samuel.jpg" id="fotoSamuel" alt="Foto de samuel" style="" />
</section>
<p class="maquina-escribir-container">
    <span class="maquina-escribir bg-white">
        Full stack .NET .
    </span>
</p>
<section aria-label="Sobre mi" class="row justify-content-center text-center seccion-bienvenida-container">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Un poco sobre mi</h1>
        <p>
            Mi nombre es Samuel Tribulo, tengo 23 años y soy estudiante de la licenciatura en gestión de las tecnologías de UNPAZ. A su vez, me capacito de manera complementaria y terminé los bootcamps de Henry, AWS re/start y .NET Accenture Argentina.
        </p>
        <p>
            Durante el último tiempo desarrollé habilidades y herramientas que me permiten insertarme como profesional en el sector IT. A nivel blando, aprendí a trabajar en equipo, tener actitudes de liderazgo y orientarme hacia los resultados. Por otro lado, a nivel técnico, obtuve conocimientos en tecnologías como JavaScript, React, Redux, NodeJS, C#, .NET, ASP.NET, Entity Framework, servicios de AWS, entre otras.
        </p>
        <p>
            Me considero un apasionado del desarrollo de software, más específicamente del desarrollo web, y tengo en cuenta que, a través de soluciones tecnológicas, podemos mejorar la calidad de vida de las personas.
        </p>
    </div>
</section>