@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}@{
    ViewData["Title"] = "Gracias";
}

<div class="container">
    <div class="card w-auto">
        <h1 class="card-header" style="background-color: #20AC6B; color: white;">
            Gracias por ponerte en contacto conmigo.
        </h1>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Te contestaré el mensaje lo antes posible.</p>
                <footer class="blockquote-footer mt-3">
                    <i style="color:red" class="bi bi-suit-heart-fill"></i>
                    <cite title="Te deseo lo mejor">Te deseo lo mejor</cite>
                </footer>
            </blockquote>
        </div>
    </div>
    <div class="row justify-content-center">

        <a asp-action="Index" asp-controller="Home" class="btn mt-3 w-auto" style="background-color: #20AC6B; color: white">Volver al inicio</a>

    </div>
</div>

